NAME: "Generation"
SAVE_PSEUDO_LABLES: True

SEED: 0

DATA: 
  ROOT: "/kaggle/working/data/VOCdevkit/VOC2012"
  NUM_CLASSES: 21 # For VOC
  MODE: "val"
  
MODEL:
  WEIGHTS: "ClsNet.pt" # From Stage 1
  ROI_SIZE: [None,None]
  GRID_SIZE: 1
  BG_THRESHOLD: 0.99
  DCRF: [4, 55, 3, 3, 3]